@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Typography
$family: 'Montserrat', sans-serif;
$fw-light: 400;
$fw-regular: 500;
$fw-normal: 600;
$fw-bold: 700;

// Other
$radii: 8px;

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $family;
  background-color: #FFFFFF;
}

